PORT=3000
GRAINWATCH_CACHE_TTL_MS=900000
PSA_PXWEB_BASE=https://openstat.psa.gov.ph/PXWeb/api/v1/en
PSA_RETAIL_TABLE=DB/DB__2M__2018NEW/0042M4ARN01.px
PSA_FARMGATE_TABLE=DB/DB__2M__NFG/0032M4AFN01.px
BASE_NETWORK=sepolia
BASE_RPC_URL=
BASE_EXPLORER_URL=https://sepolia-explorer.base.org
BASE_WALLET_INSTALL_URL=https://www.coinbase.com/wallet
BASE_ATTESTATION_CONTRACT=
